* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

ul {
    padding: 0px;
}

img {
    max-width: 300px;
    max-height: 300px;
}

header {
    width: 100%;
    height: 60px;
    background-color: #000;
}

nav {
    width: 80%;
    margin: auto;
    color: #fff;
    height: 100%;
}

nav > h2 {
    position: relative;
    top: 25%;
}

.flex-boxes {
    width: 80%;
    margin: auto;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-boxes > div {
    background-color: rgb(246, 246, 246);
    border-radius: 8px;
    min-height: 400px;
    min-width: 33%;
    max-width: 33%;
}

.box {
    height: 100%;
    margin: 30px;
}

.box-content {
    min-height: 70%;
}

.flex-balance {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;

}

.balance-container, .loan-container, .salaryRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.box-button {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Buttons */
#loanButton {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    background-color: rgb(103, 255, 121);
}
#salaryButton {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    background-color: rgb(253, 249, 19);
}
#banking {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    background-color: rgb(0, 81, 255);
    color: #fff;
}

#buyButton {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    background-color: rgb(0, 162, 255);
    color: #fff;
    margin-top: 60px;
}

#payback {
    display:none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    background-color: rgb(103, 255, 121);
    margin: 0px;
}

.computer-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 60px;
    border-radius: 8px;
    background-color: rgb(246, 246, 246);
    max-width: 80%;
    min-height: 300px;
}

.computer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 30px;
}

.computer-content > div {
    max-width: 330px;
}

.flex-computer {
    display: flex;
    flex-direction: column;
}

#listedComputers {
    margin: 20px 0px;
    padding: 4px 0px;
}

.priceinfo {
    display: flex;
    flex-direction: row;
}

.priceinfo > h2:nth-child(2) {
    padding-left:10px
}

/* Media qui*/
@media screen and (max-width: 480px) {
    .flex-boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-top: 10px;
    }
    .flex-boxes > div {
        background-color: rgb(246, 246, 246);
        border-radius: 8px;
        min-height: 250px;
        min-width: 95%;
        margin: auto;
        margin-bottom: 10px;
    }
    .box-button {
        margin-top: 90px;
    }
    .computer-container {
        min-width: 95%;
    }
    .computer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .priceinfo {
        padding: 20px 0px;
    }
    #buyButton {
        margin-top: 10px;
    }
  }